.footer {

  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 400px;
  background-color: #f0f0f0;

}


.valorLogo {

  height: 10vh;
  position: absolute;
  bottom: -16vh;


}

.footerLinks {
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  font-family: "Aldrich", sans-serif;
}

.footerLinks ul {
  list-style: none;
}



/*responsive*/
/*@media screen and (min-width: 200px) and (max-width: 800px) {
  .footer {
    height: 8vh;
  }

  .valor {
    height: 5vh;
  }
}*/
