@import url("https://fonts.googleapis.com/css?family=Aldrich&display=swap");

.footer {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 300px;
  background-color: #f0f0f0;
}

.valorLogo {
  height: 10vh;
  position: absolute;
  bottom: -16vh;
}

.footerLinks {
  margin-top: 12vh;
  width: 80%;
  display: flex;
  font-family: "Aldrich", sans-serif;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.2em;
  color: darkgray;
}

.projets,
.team1,
.team2 {
  width: 500px;
  height: 80%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.projets ul {
  list-style: none;
}

.projets h3,
.team h3 {
  margin-bottom: 0.5em;
}
