.header {
  background-color: #cb0809;
  display: flex;
  justify-content: center;
  height: 6em;
  border-bottom: white solid 0.5em;
  box-shadow: 0 0 10px black;
}

.logo {
  height: 8em;
  margin-top: 5px;
}
