.attacks {
  width: 400px;
  margin: 20px auto;
}

.titleBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
  background-color: #deeefb;
  padding-bottom: 0.5vh;
  padding-top: 0.5vh;
}

.leftTitle {
  text-align: center;
  width: 9vw;
}

.rightTitle {
  text-align: center;
  font-size: 10px;
  width: 5vw;
}

.listAttak {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1vh;
  padding-top: 1vh;
  border-top: solid rgb(109, 109, 109) 1px;
}

.left {
  color: #45a9fa;
  text-align: center;
  width: 9vw;
  cursor: help;
}
.right {
  text-align: center;
  width: 5vw;
}

.infoMove {
  position: absolute;
}
@media screen and (max-width: 640px) {
  .titleBoard {
    justify-content: space-around;
  }
  .listAttak {
    justify-content: space-around;
  }
}
