/*css générale de la fiche*/
.fiche {

  background-color: #73dbdb;
  background-image: url("/img/bg-pokeball.png");
  font-weight: bold;

  display: flex;
  justify-content: space-evenly;

  margin-top: 11vh;
  margin-left: 2px;
  padding-top: 10vh;
  padding-bottom: 10vh;


}

/*positionne les éléments en colonne*/
.column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

/*positionne les éléments de la carte statisiques et attaques*/
.column2 {
  display: flex;
  justify-content: space-evenly;

  margin-bottom: auto;

  
 /* min-height: 20vh;*/
  /*max-height: 90vh;*/

}

/*background général des sous cartes*/
.backgroundGeneral {
  width: 35vw;
  background-color: white;
  border-radius: 5%;
  padding: 1em;


}

/*met tous les sous titre au même format*/
.sousTitre {
  background-color: #deeefb;
  text-transform: uppercase;
  height: 8px;
  line-height: 10px;
  padding-top: 10px;  
  padding-bottom: 10px;   
  padding-left: 45px;   
  padding-right: 30px;  
  margin-bottom: 1em; 
  background-image: url("/img/black-pokeball.png");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position-x: 10px;
  background-position-y: center;

}
