/*dimensionne le carte avec les infos principales*/
.mainInformation {
  height: 25vh;
  width: 25vw;

  margin-bottom: 2vh;
}

.PokemonName {
  display: flex;
  justify-content: center;
}
/*dimensionne la section nom et Id de infoBase*/
.nomId {
  text-align: center;
  background-color: black;
  color: white;
  width: 50%;
}

/*sous catégorie de principal*/
.Infos {
  display: flex;
  justify-content: space-around;
}

/*background color de l'image du pokemon*/
.img {
  margin: 10px;
  background-color: rgba(177, 170, 170, 0.63);
}
