@import url("https://fonts.googleapis.com/css?family=Aldrich&display=swap");

.carte {
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 10px 10px 0 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

.titre {
  background-color: rgba(128, 128, 128, 0.678);
  text-align: center;
  margin: 0;
  border-radius: 0 0 10px 10px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-family: "Aldrich", sans-serif;
  height: 17px;
  padding-top: 3px;
}

.global {
  margin: 0px 20px;

  z-index: 4;
}

.global p {
  margin-top: -4px; /* /!\Warning/!\ margin-top négatif pour enlever l'écart entre p et img */
}

.pokeball {
  height: 80px;
  width: 80px;
}

.badge {
  height: 30px;
  width: 20px;
  position: relative;
  bottom: -2em;
  left: 87px;
  z-index: 10;
}

@media (max-width: 640px) {
  .carte {
    height: 70px;
    width: 70px;
  }

  .titre {
    width: 70px;
    font-size: 8px;
    height: 10px;
    padding-top: 3px;
  }

  .global {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 6px;
  }

  .pokemon-cards {
    padding: 0;
  }

  .badge {
    display: none;
  }
}
