.carte {
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 10px 10px 0 0;
  height: 130px;
  width: 130px;
  margin: 0;
}

.titre {
  background-color: rgba(128, 128, 128, 0.678);
  text-align: center;
  margin: 0;
  border-radius: 0 0 10px 10px;
  font-size: 15px;
  font-weight: bold;
}

.global {
  margin: 20px;
}

.global p {
  margin-top: -4px; /* /!\Warning/!\ margin-top négatif pour enlever l'écart entre p et img */
}

.pokeball {
  height: 80px;
  width: 80px;
}
