.searchBar {
  border: none;
  background-color: yellowgreen;
  color: black;
  width: 20%;
  font-size: 150%;
  margin-top: 3%;
  margin-right: 18%;
  padding: 10px;
  width: 15vw;
}
@media (max-width: 640px) {
  .searchBar {
    width: 35vw;
    font-size: 12px;
    margin-right: 2vw;
  }
}
