/*css générale de la fiche*/
.fiche {
  margin-left: 2px;
  margin-top: 106px;
  height: 100%;
  width: 100vw;
  background-color: #73dbdb;
  background-image: url("/img/bg-pokeball.png");
  margin-top: 14vh;
  font-weight: bold;
}

/*background général des sous cartes*/
.backgroundGeneral {
  width: 35vw;
  height: 25vh;
  background-color: white;
  border-radius: 5%;
}

/*met tous les sous titreau même format*/
.sousTitre {
  background-color: #deeefb;
}
/*dimensionne la section nom et Id de infoBase*/
.nomId {
  text-align: center;
  background-color: black;
  color: white;
  width: 50%;
}

.Infos {
  display: flex;
  justify-content: space-around;
  margin-top: 1vh;
}

.statMove {
  display: flex;
  justify-content: space-evenly;
  height: 55vh;
}

.titleBoard {
  display: flex;
  justify-content: space-evenly;
}
